.App {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  text-align: center;
  margin: 15px;

  grid-template-areas:
  "h h"
  "nav content"
  "f f";
}
.wrapper-header{
grid-area: h;
background: green;
margin-bottom: 15px;
}
.wrapper-content{
  grid-area: content;
  display: grid;

  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  text-align: center;

  grid-template-areas:
  "img "
  "avatar"
  "post";
}
.wrapper-nav{
  grid-area: nav;
  height: 100%; 
  margin-right: 15px;
}
.wrapper-footer{
  grid-area: f;
  background: black;
}

.img-banner{
  grid-area: img;
  max-height: 200px;
}
.avatar-content{
  grid-area: avatar;
  background: lightslategray;
  height: 200px;
  display: flex;
  flex-direction: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 15px 0 15px 0;
}
.post{
  grid-area: post;
  height: 100px;
  margin: 0 0 15px 0;
}
.banner-img{
  width: 100%;
  height: 100%;
}
.img-avatar{
  width: 80px;
  height: 100px;
}
input, button{
  max-width: 400px;
  height: 50px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
